# Dependencies
node_modules/
frontend/node_modules/

# Build outputs
dist/
frontend/dist/
build/

# Python cache & venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
env/

# Environment variables & Local IDE
.env
.env.local
.DS_Store
.vscode/
.idea/
